{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">

	<title>Sixteen Clothing Products</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'detail/images/icons/favicon.png' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'detail/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'detail/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'detail/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'detail/css/main.css' %}">
	<!--===============================================================================================-->
	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="{% static 'main/assets/css/fontawesome.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/templatemo-sixteen.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/owl.css' %}">

</head>

<body class="animsition">

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- Header -->
	<header class="">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="/">
					<h2>Sixteen <em>Clothing</em></h2>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{% if user.is_authenticated %}
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<!-- Dropdown button -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'product' %}">All Products</a>
						</li>
					</ul>
				</div>
				{% endif %}
			</div>
		</nav>
	</header>
	<br>
	<br>
	<br>

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">

							{% if ct %}

							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3" style="width: 150px;">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-6"></th>
								</tr>

								{% for i in ct %}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<a href="{{i.product.get_url}}"><img src="{{i.product.image.url}}"
													alt="{{i.product.name}}"></a>
										</div>
									</td>
									<td class="column-2"><a href="{{i.product.get_url}}"
											style="color: #555;">{{i.product.name}}</a></td>
									<td class="column-3" style="width: 150px; padding-left: 20px;">Rs
										{{i.product.price}}</td>
									<td class="column-4" style="padding-left: 20px;">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"><a
													href="{% url 'mincart' i.product.id %}">
													<i class="fa fa-minus"
														style="font-size:20px; padding: 14px; color: #8a8484;"></a></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number"
												name="num-product1" value="{{i.quantity}}">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"><a
													href="{% url 'addcart' i.product.id %}">
													<i class="fa fa-plus"
														style="font-size:20px; padding: 14px; color: #8a8484;"></a></i>
											</div>
										</div>
										{% if i.quantity >= i.product.stock %}
										<div class="text-danger">Only {{i.product.stock}} stocks available!</div>
										{% endif %}
									</td>

									<td class="column-5">Rs {{i.total}}</td>

									<td><a href="{% url 'delcart' i.product.id %}" style="color: #8a8484;">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path
													d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
												<path
													d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
											</svg>
										</a>
									</td>
								</tr>

								{% endfor %}

							</table>

						</div>

					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Qty:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									{{cn}}
								</span>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									Rs {{tot}}
								</span>
							</div>
						</div>
						<!-- <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button> -->
					</div>
				</div>
			</div>
		</div>
	</form>
	
	{% else %}
	<div class="container">
		<div class="row">
			{% if user.is_authenticated %}
			<div class="col-sm-12 text-center">
				<div class="empty-cart-cls">
					<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
					<h4><strong>Your Cart is Empty!</strong></h4>
					<h5>Add something to make me happy :)</h5>
					<a href="{% url 'product' %}" class="btn btn-primary cart-btn-transform m-3"
						data-abc="true">continue
						shopping</a>
				</div>
			</div>
			{% else %}
			<div class="col-sm-12 text-center">
				<div class="empty-cart-cls">
					<img src="https://static.vecteezy.com/system/resources/previews/015/078/042/original/continue-shopping-glyph-icon-vector.jpg"
						width="130" height="130" class="img-fluid mb-4 mr-3">
					<h4><strong>Missing Cart items?</strong></h4>
					<h5>Please login to continue shopping :)</h5>
					<a href="{% url 'login' %}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Login
					</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="{% static 'detail/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'detail/vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'detail/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'detail/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'detail/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'detail/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'detail/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'detail/js/main.js' %}"></script>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


	<!-- Additional Scripts -->
	<script src="{% static 'main/assets/js/custom.js' %}"></script>
	<script src="{% static 'main/assets/js/owl.js' %}"></script>
	<script src="{% static 'main/assets/js/slick.js' %}"></script>
	<script src="{% static 'main/assets/js/isotope.js' %}"></script>
	<script src="{% static 'main/assets/js/accordions.js' %}"></script>

</body>

</html>