{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>Sixteen Clothing Products</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--
<!===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'detail/images/icons/favicon.png' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'detail/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'detail/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/slick/slick.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/MagnificPopup/magnific-popup.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'detail/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail/css/main.css' %}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'main/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/owl.css' %}">

    <style>
        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-size: 16px;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            padding: 8px 16px;
            font-size: 16px;
            background-color: #f33f3f !important;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            align-self: center;
        }

        button:hover {
            background-color: #cc3333 !important;
        }
    </style>

</head>


<body class="animsition">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h2>Sixteen <em>Clothing</em></h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>
                            <center>CREATE ACCOUNT</center>
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="container">
                            {% for message in messages %}
                            <p style="color: red; text-align: center;">{{ message }}</p>
                            {% endfor %}
                            <div class="form-group">
                                <label for="firstname">Firstname:</label>
                                <input type="text" class="form-control" id="firstname" name="firstname"
                                    placeholder="Enter Firstname" required>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Lastname:</label>
                                <input type="text" class="form-control" id="lastname" name="lastname"
                                    placeholder="Enter Lastname" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Enter Username" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label for="psw">Password:</label>
                                <input type="password" class="form-control" id="psw" name="psw"
                                    placeholder="Enter Password" required autocomplete="new-password">
                            </div>
                            <div class="form-group">
                                <label for="psw-repeat">Re-type Password:</label>
                                <input type="password" class="form-control" id="psw-repeat" name="psw-repeat"
                                    placeholder="Retype Password" required autocomplete="new-password">
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>


    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'detail/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'detail/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'detail/js/slick-custom.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/parallax100/parallax100.js' %}"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'detail/vendor/isotope/isotope.pkgd.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/vendor/sweetalert/sweetalert.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'detail/js/main.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'main/assets/js/custom.js' %}"></script>
    <script src="{% static 'main/assets/js/owl.js' %}"></script>
    <script src="{% static 'main/assets/js/slick.js' %}"></script>
    <script src="{% static 'main/assets/js/isotope.js' %}"></script>
    <script src="{% static 'main/assets/js/accordions.js' %}"></script>

</body>

</html>